@import url("/assets/reset.css");


BODY {
    margin: 5px;
    padding: 0;
    font: normal 12px/12px Arial, sans-serif;
    color: #301403;
    color: #614C3E;
    background: #F2EBE6;

    /* This is important for predictable resizing in Chrome (at least) */
    overflow: hidden; 
}


::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-corner { 
    background: #CCBAAD; 
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #CCBAAD;
}
::-webkit-scrollbar-thumb {
    background: #CCBAAD;
    background: #2A8F79;
}
::-webkit-scrollbar-button {
    display: none;
}


/* Main UI */
/* ======= */

/* Roughing In */
/* ~~~~~~~~~~~ */

#help-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 5;
}
#help-button .cheat-sheet {
    display: none;
}
#help-button.dead-mouse .cheat-sheet {
    display: block;
}
#help-button BUTTON {
    float: right;
}

#summary {
    position: absolute;
}

#details {
    position: absolute;
    overflow: auto;
}
#details TABLE {
    display: none;
}

TABLE {
    color: #614C3E;
    color: #301403;
    width: 100%;
    border-collapse: separate;
    background: white;
}
TD, TH {
    white-space: nowrap; /* Safari wraps -100.00 on the dash */
}
TD B {
    /* We use B as our markup inside of TD. That's all it is. */
    font-weight: normal;
    display: block;
    height: 12px;
    border: 1px solid white;
    border-style: solid none;
    width: 96px; /* arbitrary width for now XXX make this adjustable */
}
TD.amount {
    /* This is used in both #summary and #details . */
    font: normal 10px/14px Monaco, "Lucida Console", monospace;
    text-align: center;
    padding: 0;
}


/* #summary */
/* ~~~~~~~~ */

#summary {
    width: 1px;
}
#summary TH {
    padding: 1px 5px;
    text-align: left;
    border: 1px solid white;
    border-style: solid none;
}
#summary TD.amount {
    width: 1px;
    text-align: right;
    padding-right: 5px;
}
#summary TR.prepared TH {
    background: #F2F7F7;
    border-color: #2A8F79;
}
#summary TR.current TH {
    background: #2A8F79;
    color: #F2F7F7;
    border-color: #2A8F79;
}

/* #details */
/* ~~~~~~~~ */

#details TABLE {
    display: none;
}
#details TABLE.shown {
    display: block;
}
#details B {
    width: auto;
    padding: 0 5px
}

TD.date {
    padding-right: 5px;
    text-align: right;
    font: normal 12px/12px Arial, sans-serif;
    width: 1px; /* make this as narrow as possible */
    height: 14px;
}
TD.date .hide {
    display: none;
}
TD.year {
    padding-left: 5px;
}
TD.description {
    font: normal 12px/12px Arial, sans-serif;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid white;
    border-style: solid none;
    width: 100%;
}
TD.description DIV {
    width: 1px; /* This allows the overflow to be shown but doesn't overflow 
                   the table cell. */
}

TR.focus TD.date {
    background: #E6F2F0;
    background: #2A8F79;
    color: #F2F7F7;
}
TR.focus TD.date .hide {
    display: inline;
}
TR.focus TD.description {
    background: #F2F7F7;
    border-color: #2A8F79;
}

TR.focus B {
    border-color: #2A8F79;
    background: #F2F7F7;
}


/* Modal Dialog */
/* ============ */

#modal {
    height: 589px;
    width: 786px;
    position: fixed;
    margin-left: -393px;
    margin-top: -294px;
    top: 50%; 
    left: 50%;
    z-index: 6;
    background: white;
    box-shadow: 5px 5px 15px #333;
    font: normal 11pt/14pt Arial, sans-serif;
} 
#modal H2 {
    font: bold 12pt/16pt Georgia, serif;
    margin: 1em 0 0.5em;
    text-align: center;
}
#modal H2 I {
    font-weight: normal;
}
#modal H2 SPAN {
    background: white;
    position: relative;
    z-index: 10;
    padding: 0 5px;
}
#modal H2 P {
    text-align: center;
    font: italic 9pt/12pt Georgia, serif;
    margin: 0;
    padding: 0;
}
#modal .line {
    height: 1px;
    background: #614C3E;
    position: relative;
    top: -0.75em;
    z-index: 9;
}
#modal .gray {
    color: #CCBAAD;
    text-decoration: line-through;
}
#modal UL {
    margin: 0.5em 0;
}
#modal LI {
    margin: 0 0 0 2em;
    padding: 0em;
    list-style: disc;
}
#modal OL LI {
    list-style: decimal;
}
#modal IMG.cat {
    display: block;
    float: left;
    width: 393px;
    border-right: 1px solid #614C3E;
    z-index: 0;
}
#modal DIV.text {
    width: 393px;
    position: absolute;
    top: 0;
    right: 0;
}
#modal DIV.pad {
    padding: 10px 46px;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#spinner {
    background: #F2EBE6;
    z-index: 10;
    opacity: 0.7;
    display: none;
}
#spinner IMG {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: 13px;
    opacity: 1;
}
#modal-mask {
    background: black;
    opacity: 0.7;
    z-index: 5;
}
#corner BUTTON {
    /* Keep this visible during dead mouse so the customer knows how to find 
       help. */
    z-index: 4;
}
#mouse-killer {
    /* This wants to be over dead-mouse so that we capture events 
       consistently */
    z-index: 2;
}
#dead-mouse {
    display: none;
    background: #F5F6F1;
    opacity: 1;
    z-index: 1;
}
#dead-mouse IMG {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}


#modal B {
    color: #2A8F79;
}
FORM {
    margin: 0 auto;
    width: 300px;
}
FORM .half {
    width: 150px;
}
FORM .full {
    clear: both;
    text-align: right;
    padding-top: 5px;
}
FORM #other {
    font: normal 9pt/14pt Arial, sans-serif;
    color: #00E;
    cursor: pointer;
    margin-right: 1em;
}
FORM #other:hover {
    text-decoration: underline;
}
FORM .left {
    float: left;
}
FORM .right {
    float: left;
}
FORM LABEL {
    display: block;
    font: normal 10px/14px Monaco, "Lucida Console", monospace;
    margin: 5px 0 0;
    padding: 0;
}
FORM INPUT {
    font: normal 11pt/14pt Arial, sans-serif;
    width: 292px;
    margin: 0;
    padding: 3px;
    border: 1px solid #CCBAAD;
    outline: none;
    color: #614C3E;
}
FORM .half INPUT {
    width: 137px;
}
FORM .right.half LABEL,
FORM .right.half INPUT {
    margin-left: 5px;
}
FORM INPUT:focus {
    border-color: #2A8F79;
}
#feedback {
    display: none;
    font: normal 28pt/28pt Impact, sans-serif;
    background: white;
    color: black;
    padding: 50px;
    border-radius: 50px;
    border: 4px solid black;
    position: absolute;
    top: 300px;
    left: 120px;
    width: 180px;
    text-align: left;
    z-index: 20;
    overflow: hidden;
}

.cheat-sheet {
    font: normal 10px/20px Monaco, "Lucida Console", monospace;
}
.cheat-sheet U {
    text-decoration: none;
    border: 1px solid #614C3E;
    border-radius: 2px;
    padding: 1px 5px;
}
.cheat-sheet SPAN {
    display: inline-block;
    width: 70px;
    text-align: right;
}
.cheat-sheet SPAN.hidden {
    visibility: hidden;
}


#eyes {
    font: normal 100px/0px Georgia, serif;
    display: none;
    position: absolute;
    top: 220px;
    left: 108px;
    width: 200px;
}
.eye {
    border: 4px solid black;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-left: 6px;
    text-align: center;
    color: black;
    position: relative;
}
.eye.left {
}
.eye.right {
    width: 37px;
    height: 37px;
}
.pupil {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: black;
    position: absolute;
}
.pupil.left {
    top: 15px;
    left: 24px;
}
.pupil.right {
    top: 15px;
    left: 74px;
}
#accordion {
}
#acct P {
    float: left;
    margin: 0;
}
#acct BUTTON {
    float: right;
}
.clear {
    clear: both;
}
.omgworstclassnameever {
    margin: 0 0 2em;
}

FORM .float {
    float: left;
}
FORM .city          INPUT { width: 137px; }
FORM .state         INPUT { width: 43px; }
FORM .zip           INPUT { width: 75px; }
FORM .card_number   INPUT { width: 137px; }
FORM .cvv           INPUT { width: 43px; }
FORM .expiry        INPUT { width: 75px; }
FORM .not-first LABEL,
FORM .not-first INPUT {
    margin-left: 10px;
}
FORM#payment IMG {
    float: left;
}
FORM#payment P {
    margin: 3em 0 0;
    font-size: 14pt;
    line-height: 18pt;
}
FORM#payment .full {
    padding-top: 10px;
}
.details {
    font: normal 10px/14px Monaco, "Lucida Console", monospace;
}
.details P {
    text-indent: -1em;
    padding-left: 1em;
}
.pane P {
    margin: 0;
    padding: 0 0 1em;
}
#modal #pane-nav {
    margin: 0;
    position: absolute;
    top: 120px;
    left: 193px;
    width: 200px;

}
#pane-nav LI {
    list-style: none;
    text-align: right;
    margin: 15px 0 0 0;
}
#pane-nav LI SPAN {
    padding: 2pt 4pt 2pt 10pt;
    border-radius: 10pt 0 0 10pt;
    font: normal 12pt/12pt Georgia, serif;
    cursor: pointer;
    background: #CCBAAD;
}
#pane-nav LI SPAN:hover {
    background: white;
}
#pane-nav LI.selected SPAN {
    background: white;
    font-style: italic;
    position: relative;
    left: 1px;
}
#pane-nav LI.selected SPAN:hover {
    background: white;
}
.pane {
    padding-top: 1em;
}


/* Button */
/* ====== */

BUTTON {
    font: normal 10pt/12pt Arial, sans-serif;
    text-shadow: #001b38 0px 1px 1px;
    text-decoration: none;

    background: #2A8F79 url("/assets/button-bg.png") repeat-x bottom left;
    width: auto;
    overflow: visible;
    display: inline-block;
    cursor: pointer;

    border: 1px solid #0A382E;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

    padding: 1pt 4pt;
    margin: 0;
    vertical-align: middle;

    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#2A8F79)
                                      , to(#0D4035)
                                       );
    background-image: -moz-linear-gradient(top, #2A8F79, #0D4035);
    background-image: linear-gradient(top, #2A8F79, #0D4035);

    -moz-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
    box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}

BUTTON::-moz-focus-inner {
    border: none;
    padding: 0;
}

BUTTON:focus {
    outline: none;
}

BUTTON, BUTTON:visited,
BUTTON:hover, BUTTON:hover:visited,
BUTTON:focus, BUTTON:focus:visited,
BUTTON:active, BUTTON:active:visited {
    color: white;
}

BUTTON:hover, BUTTON:focus {
    background-image: url("/assets/button-bg.over.png");
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#2A8F79)
                                      , to(#04221B)
                                       );
    background-image: -moz-linear-gradient(top, #2A8F79, #04221B);
    background-image: linear-gradient(top, #2A8F79, #04221B));
}

BUTTON:active {
    /* http://somadesign.ca/demos/buttons-redux.html */
    -moz-box-shadow
        :0 .33em 1em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    -webkit-box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
}
