import os
from ihasamoney import data

# ========================================================================== ^L

if request.user.ANON or not request.user.PAID:
    categories, transactions, summary, balance = data.fake()
else:
    email = request.user.session['email']
    categories, transactions, summary = data.get(email)
    balance = request.user.session['balance']

todayth = "first"

# ========================================================================== ^L
<!DOCTYPE html>
<html>
    <head>
        <title>I has a money.</title>
        <style>@import url("/assets/ihasamoney.css");</style>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <script src="/assets/jquery.mousewheel.js"></script>
        <script src="/assets/ihasamoney.js"></script>
        {% if request.user.ANON %}
        <script>
            $(document).ready(function()
            {
                IHasAMoney.init();
                IHasAMoney.switchToSignIn();
                IHasAMoney.openSplash();
            });
        </script>
        {% elif not request.user.PAID %}
        <script src="https://samurai.feefighters.com/assets/api/samurai.js"></script>
        <script>
            $(document).ready(function()
            {
                IHasAMoney.init();
                IHasAMoney.initSamurai('{{ os.environ['SAMURAI_MERCHANT_KEY'] }}');
                IHasAMoney.openSplash();
            });
        </script>
        {% else %}
        <script src="/assets/jquery-accordion/lib/jquery.easing.js"></script>
        <script src="/assets/jquery-accordion/lib/jquery.dimensions.js"></script>
        <script src="/assets/jquery-accordion/jquery.accordion.js"></script>
        <script>
            $(document).ready(function()
            {
                IHasAMoney.init();
                IHasAMoney.initSamurai('{{ os.environ['SAMURAI_MERCHANT_KEY'] }}');
                IHasAMoney.initAccordion();
                IHasAMoney.closeSplash();
            });
        </script>
        {% end %}
    </head>
    <body>
        <div id="body">

            <div id="top">
                <div id="balance">${{ balance }}</div>
            </div>

            <table>
                <thead class="pegged">
                    <tr class="heads">
                        <th colspan="4" class="corner"></th>
                        {% for category in categories %}<th 
                            category="{{ category }}">{{ category }}</th>{% end %}
                    </tr>
                    <tr class="summary">
                        <th colspan="4" class="corner"></th>
                        {% for category in categories %}<th category="{{ category }}"
                            class="amount"><b>{{ summary[category] }}</b></th>{% end %}
                    </tr>
                </thead>
                <thead class="unpegged">
                    <tr class="heads">
                        <th colspan="4" class="corner"></th>
                        {% for category in categories %}<th 
                            category="{{ category }}">{{ category }}</th>{% end %}
                    </tr>
                    <tr class="summary">
                        <th colspan="4" class="corner"></th>
                        {% for category in categories %}<th category="{{ category }}"
                            class="amount"><b>{{ summary[category] }}</b></th>{% end %}
                    </tr>
                </thead>
                <tbody>
                    {% for tid, amount, desc, date, category in data.gentxns(transactions) %}
                    <tr tid="{{ tid }}" category="{{ category }}">
                        {{ date }}
                        <td class="description">{{ desc }}</td>
                        {% for _category in categories %}<td 
                            class="amount{% if _category == category %} categorized{% end %}"
                            category="{{ _category }}">
                            <b>{% if _category == category %}{{ amount }}{% end %}</b></td>
                        {% end %}
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        <div id="splash-wrap">
            <div id="splash">
                <img src="/assets/ihasamoney.jpg" class="cat" />
                <div id="feedback"></div>
                <div id="eyes">
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                    <div class="pupil left"></div>
                    <div class="pupil right"></div>
                </div>
                <div class="text"><div class="pad">

                        {% if request.user.ANON %}
                        <h2>
                            <span>IHasAMoney.com</span>
                            <div class="line"></div>
                        </h2>
                        
                        <div class="omgworstclassnameever">
                            <p>This is a personal finance application with teh
                            following invariants:</p>

                            <ul>
                                <li>You aren&rsquo;t the product.</li>
                                <li>Never takes your bank creds.</li>
                                <li>Shows data and comparisons.</li>
                                <li>No pie charts.</li>
                                <li>Nice API.</li>
                                <li>Lolcat.</li>
                            </ul>

                            <p>It costs <b>$2.99/mo</b>.</p>
                        </div>

                        
                        <h2>
                            <span>Sign In <i>or</i> Register</span>
                            <div class="line"></div>
                            <p>or play with <a href="" id="fake">fake
                                data</a></p>
                        </h2>
                        
                        <form action="" id="auth" class="omgworstclassnameever">
                            <label for="email">Email</label>
                            <input id="email" name="email" 
                                tabindex="1" /><br />

                            <div class="left half password">
                                <label for="password">Password</label>
                                <input type="password" name="password" 
                                    tabindex="2" />
                            </div>

                            <div class="right half confirm">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="confirm" 
                                    tabindex="3"/><br />
                            </div>

                            <div class="full">
                                <a href="" id="other" tabindex="5">Register</a>
                                <button tabindex="4">Sign In</button>
                            </div>
                        </form> 


                        <h2>
                            <span>Cheat Sheet</span>
                            <div class="line"></div>
                        </h2>

                        <div id="cheat-sheet" class="omgworstclassnameever">

                            <u>&darr;</u> / <u>&uarr;</u> -or- <u>j</u> /
                            <u>k</u> to select a transaction.<br />

                            <u>&larr;</u> / <u>&rarr;</u> -or- <u>h</u> /
                            <u>l</u> to recategorize.<br />
                           
                            <u>Esc</u> to open/close cat.
                        
                        </div>


                        {% else %}

                        <div id="acct">

                            <h2>
                                <span>IHasAMoney.com</span>
                                <div class="line"></div>
                            </h2>

                            <p>Signed in as
                            <b>{{ request.user.session['email'] }}</b>.</p>

                            <form action="/sign-out.html" method="GET">
                                <button type="submit">Sign&nbsp;out</button>
                            </form>
                            <div class="clear"></div>

                        </div>


                        {% if not request.user.PAID %}

                        <h2>
                            <span>Payment Details</span>
                            <div class="line"></div>
                            <p>or play with <a href="" id="fake">fake
                                data</a></p>
                        </h2>
                        <form id="payment">
                            
                            <div class="left half">
                                <label for="first-name">First Name</label>
                                <input id="first-name" name="first-name" 
                                 />
                            </div>

                            <div class="right half">
                                <label for="last-name">Last Name</label>
                                <input id="last-name" name="last-name" 
                                 />
                            </div>

                            <div class="clear"></div>

                            <label for="address-1">Address 1</label>
                            <input id="address-1" name="address-1" 
                                 />

                            <label for="address-2">Address 2</label>
                            <input id="address-2" name="address-2" 
                                 />


                            <div class="float city">
                                <label for="city">City</label>
                                <input id="city" name="city" 
                                     />
                            </div>

                            <div class="float state not-first">
                                <label for="state">State</label>
                                <input id="state" name="state" 
                                     />
                            </div>

                            <div class="float zip not-first">
                                <label for="zip">ZIP</label>
                                <input id="zip" name="zip" 
                                     />
                            </div>

                            <div class="clear"></div>

                            <div class="float card_number">
                                <label for="card_number">Credit Card Number</label>
                                <input id="card_number" name="card_number" 
                                     />
                            </div>

                            <div class="float expiry not-first">
                                <label for="expiry">Expiry</label>
                                <input id="expiry" name="expiry" 
                                     />
                            </div>

                            <div class="float cvv not-first">
                                <label for="cvv">CVV</label>
                                <input id="cvv" name="cvv" 
                                     />
                            </div>

                            <div class="clear"></div>

                            <div class="full">
                                <img src="/assets/cards.png" />
                                <button type="submit">Subscribe</button>
                            </div>

                            <p>You&rsquo;ll be charged <b>$2.99</b> on the 
                            <b>{{ todayth }}</b> of each month.</p>
                           
                            <p>Thank you.</p>

                        </form>


                        {% else %}
                        <div id="accordion">

                            <h2>
                                <span>Upload Data</span>
                                <div class="line"></div>
                            </h2>
                            <div>
                                <form action="/transactions/" id="upload" 
                                    method="POST"
                                    enctype="multipart/form-data">

                                    <label for="csv">
                                    format:&nbsp; CSV<br />
                                    columns: id,YYYYMMDD,0.00,description<br />
                                    headers: no 
                                    </label>
                                    <input type="file" id="csv" name="csv" />

                                    <div class="full">
                                        <button type="submit">Upload</button>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>

                            <h2>
                                <span>API</span>
                                <div class="line"></div>
                            </h2>
                            <div>
                                <p>POST CSV to <a
                                    href="/transactions/">/transactions/</a>.</p>
                            </div>

                            <h2>
                                <span>Cheat Sheet</span>
                                <div class="line"></div>
                            </h2>
                            <div id="cheat-sheet">

                                <u>&darr;</u> / <u>&uarr;</u> -or- <u>j</u> /
                                <u>k</u> to select a transaction.<br />

                                <u>&larr;</u> / <u>&rarr;</u> -or- <u>h</u> /
                                <u>l</u> to recategorize.<br />
                               
                                <u>Esc</u> to close/open the cat.
                            
                            </div>

                        </div>
                        {% end %}
                        {% end %}

                </div></div>
            </div>
            <div id="mask"></div>
        </div>{% if website.gauges %}
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '4ee664fe613f5d7f24000001');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>{% end %}
    </body>
</html>
