from ihasamoney import data

# ========================================================================== ^L

if request.user.ANON:
    tags, transactions, summary, balance = data.fake()
else:
    email = request.user.session['email']
    tags, transactions, summary = data.get(email)
    balance = request.user.session['balance']

# ========================================================================== ^L
<!DOCTYPE html>
<html>
    <head>
        <title>I has a money.</title>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <script src="/assets/jquery.mousewheel.js"></script>
        <style>@import url("/assets/ihasamoney.css");</style>
        <script src="/assets/ihasamoney.js"></script>
        <script>
            $(document).ready(IHasAMoney.main);
        </script>
        {% block head %}{% end %}
    </head>
    <body>
        <div id="body">

            <div id="top">
                <div id="balance">${{ balance }}</div>
            </div>

            <!--
                <span class="widget"><input 
                /><button>create</button></span><span 
                class="knob">create a tag</span>
            -->

            <table>
                <thead class="pegged">
                    <tr class="heads">
                        <th colspan="4" class="corner"></th>
                        {% for tag in tags %}<th 
                            tag="{{ tag }}">{{ tag }}</th>{% end %}
                    </tr>
                    <tr class="summary">
                        <th colspan="4" class="corner"></th>
                        {% for tag in tags %}<th tag="{{ tag }}"
                            class="amount"><b>{{ summary[tag] }}</b></th>{% end %}
                    </tr>
                </thead>
                <thead class="unpegged">
                    <tr class="heads">
                        <th colspan="4" class="corner"></th>
                        {% for tag in tags %}<th 
                            tag="{{ tag }}">{{ tag }}</th>{% end %}
                    </tr>
                    <tr class="summary">
                        <th colspan="4" class="corner"></th>
                        {% for tag in tags %}<th tag="{{ tag }}"
                            class="amount"><b>{{ summary[tag] }}</b></th>{% end %}
                    </tr>
                </thead>
                <tbody>
                    {% for tid, amount, desc, date, tag in data.gentxns(transactions) %}
                    <tr tid="{{ tid }}" tag="{{ tag }}">
                        {{ date }}
                        <td class="description">{{ desc }}</td>
                        {% for _tag in tags %}<td 
                            class="amount{% if _tag == tag %} tagged{% end %}"
                            tag="{{ _tag }}">
                            <b>{% if _tag == tag %}{{ amount }}{% end %}</b></td>
                        {% end %}
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        <div id="splash-wrap">
            <div id="splash">
                <img src="/assets/ihasamoney.jpg" />
                <div id="feedback"></div>
                <div id="eyes">
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                    <div class="pupil left"></div>
                    <div class="pupil right"></div>
                </div>
                <div class="text"><div class="pad">

                        <h2>
                            <span>IHasAMoney.com</span>
                            <div class="line"></div>
                        </h2>

                        {% if request.user.ANON %}
                        <p>This is a personal finance application with teh
                        following invariants:</p>

                        <ul>
                            <li>You aren&rsquo;t the product.</li>
                            <li>Never takes your bank creds.</li>
                            <li>Shows data and comparisons.</li>
                            <li>No pie charts.</li>
                            <li>Nice API.</li>
                            <li>Lolcat.</li>
                        </ul>

                        <p>It costs <b>$2.99/mo</b>.</p>
                        
                        
                        <h2>
                            <span>Sign In <i>or</i> Register</span>
                            <div class="line"></div>
                            <p>or play with <a href="" id="fake">fake
                                data</a></p>
                        </h2>
                        

                        <form action="" id="auth">
                            <label for="email">Email</label>
                            <input id="email" name="email" 
                                tabindex="1" /><br />

                            <div class="left half password">
                                <label for="password">Password</label>
                                <input type="password" name="password" 
                                    tabindex="2" />
                            </div>

                            <div class="right half confirm">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="confirm" 
                                    tabindex="3"/><br />
                            </div>

                            <div class="full">
                                <a href="" id="other" tabindex="5">Register</a>
                                <button tabindex="4">Sign In</button>
                            </div>
                        </form> 


                        <h2>
                            <span>Cheat Sheet</span>
                            <div class="line"></div>
                        </h2>

                        <div id="cheat-sheet">

                            <u>&darr;</u> / <u>&uarr;</u> -or- <u>j</u> /
                            <u>k</u> to select a transaction.<br />

                            <u>&larr;</u> / <u>&rarr;</u> -or- <u>h</u> /
                            <u>l</u> to recategorize.<br />
                           
                            <u>Esc</u> to open/close cat.
                        
                        </div>


                        {% else %}

                        <p>Signed in as
                        <b>{{ request.user.session['email'] }}</b>.

                        <form action="/sign-out.html" method="GET">
                            <div class="full">
                                <button type="submit">Sign&nbsp;out</button>
                            </div>
                        </form>


                        <h2>
                            <span>Upload Data</span>
                            <div class="line"></div>
                        </h2>

                        <form action="/transactions/" id="upload" method="POST"
                            enctype="multipart/form-data">
                            <label for="csv">
                            format:&nbsp; CSV<br />
                            columns: id,YYYYMMDD,0.00,description<br />
                            headers: no 
                            </label>
                            <input type="file" id="csv" name="csv" />

                            <div class="full">
                                <button type="submit">Upload</button>
                            </div>
                        </form>

                        <h2>
                            <span>API</span>
                            <div class="line"></div>
                        </h2>

                        <p>POST CSV to <a
                            href="/transactions/">/transactions/</a>.</p>

                        <h2>
                            <span>Cheat Sheet</span>
                            <div class="line"></div>
                        </h2>

                        <div id="cheat-sheet">

                            <u>&darr;</u> / <u>&uarr;</u> -or- <u>j</u> /
                            <u>k</u> to select a transaction.<br />

                            <u>&larr;</u> / <u>&rarr;</u> -or- <u>h</u> /
                            <u>l</u> to recategorize.<br />
                           
                            <u>Esc</u> to close/open the cat.
                        
                        </div>
                        {% end %}

                </div></div>
            </div>
            <div id="mask"></div>
        </div>{% if website.gauges %}
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '4ee664fe613f5d7f24000001');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>{% end %}
    </body>
</html>
