import urllib2
import traceback

from ihasamoney import billing, log, __version__

# ========================================================================== ^L

pmt = request.user.session.get('payment_method_token')
try:
    pm = billing.PaymentMethod(pmt)
except urllib2.URLError: # samurai is unavailable
    log.error(traceback.format_exc())
    pm = billing.DummyPaymentMethod()
else:
    pmt = pm['payment_method_token']

subscribe_text = "Subscribe"
if pmt:
    last_bill_result = request.user.session['last_bill_result'] 
    if (last_bill_result is None) or (last_bill_result != ''):
        subscribe_text = "Resume Billing"

# ========================================================================== ^L
<div id="modal">
    <img src="/assets/{{ __version__ }}/ihasamoney.jpg" class="cat" />
    <div id="feedback"></div>
    <div id="eyes">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="pupil left"></div>
        <div class="pupil right"></div>
    </div>
    <div class="text">
        <div class="pad">

            {% if request.user.ANON %}
            <h2>
                <span>IHasAMoney.com</span>
                <div class="line"></div>
            </h2>
            
            <div class="omgworstclassnameever">
                <p>This is a personal finance application with the
                following invariants:</p>

                <ul>
                    <li>You aren&rsquo;t the product.</li>
                    <li>Never takes your bank creds.</li>
                    <li>Shows data and comparisons.</li>
                    <li>No pie charts.</li>
                    <li>Nice API.</li>
                    <li>Lolcat.</li>
                </ul>

                <p>It costs <b>$2.99/mo</b>.</p>
            </div>

            
            <h2>
                <span>Sign In <i>or</i> Register</span>
                <div class="line"></div>
                <p>or play with <a href="" id="fake">fake
                    data</a></p>
            </h2>
            
            <form action="" id="auth" class="omgworstclassnameever">
                <label for="email">Email</label>
                <input id="email" name="email" 
                    tabindex="1" /><br />

                <div class="left half password">
                    <label for="password">Password</label>
                    <input type="password" name="password" 
                        tabindex="2" />
                </div>

                <div class="right half confirm">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="confirm" 
                        tabindex="3"/><br />
                </div>

                <div class="full">
                    <a href="" id="other" tabindex="5">Register</a>
                    <button tabindex="4">Sign In</button>
                </div>
            </form> 


            <h2>
                <span>Cheat Sheet</span>
                <div class="line"></div>
            </h2>

            <div id="cheat-sheet" 
                 class="cheat-sheet omgworstclassnameever">

                <span></span><u>j</u> / <u>k</u> to select
                a transaction<br />

                <span><u>s</u> +&nbsp;</span><u>j</u> / <u>k</u>
                to categorize<br />

                <span></span><u>f</u> / <u>d</u> to view a
                category<br />

                <span></span><u>esc</u> to close/open this screen 
    
            </div>


            {% else %}

            <div id="acct">

                <h2>
                    <span>IHasAMoney.com</span>
                    <div class="line"></div>
                </h2>

                <p>Signed in as
                <b>{{ escape(request.user.session['email']) }}</b>.</p>

                <form action="/sign/out.html" method="GET">
                    <button type="submit">Sign Out</button>
                </form>
                <div class="clear"></div>

            </div>


            {% if not request.user.PAID %}

            <div class="pane">
                <h2>
                    <span>Payment Details</span>
                    <div class="line"></div>
                    <p>or play with <a href="" id="fake">fake
                        data</a></p>
                </h2>
                <form id="payment">
                    
                    {% if pmt %}
                    <input name="payment_method_token" type="hidden" 
                        value="{{ pmt }}" />
                    {% end %}

                    <div class="left half">
                        <label for="first_name">First Name</label>
                        <input id="first_name" name="first_name" 
                               value="{{ pm['first_name'] }}" />
                    </div>

                    <div class="right half">
                        <label for="last_name">Last Name</label>
                        <input id="last_name" name="last_name" 
                               value="{{ pm['last_name'] }}" />
                    </div>

                    <div class="clear"></div>

                    <label for="address_1">Address 1</label>
                    <input id="address_1" name="address_1" 
                           value="{{ pm['address_1'] }}" />

                    <label for="address_2">Address 2</label>
                    <input id="address_2" name="address_2" 
                           value="{{ pm['address_2'] }}" />


                    <div class="float city">
                        <label for="city">City</label>
                        <input id="city" name="city" 
                               value="{{ pm['city'] }}" />
                    </div>

                    <div class="float state not-first">
                        <label for="state">State</label>
                        <input id="state" name="state" 
                               value="{{ pm['state'] }}" />
                    </div>

                    <div class="float zip not-first">
                        <label for="zip">ZIP</label>
                        <input id="zip" name="zip" 
                               value="{{ pm['zip'] }}" />
                    </div>

                    <div class="clear"></div>

                    <div class="float card_number">
                        <label for="card_number">Credit Card Number</label>
                        <input id="card_number" name="card_number" 
                               value="{{ pm['last_four'] }}" />
                    </div>

                    <div class="float expiry not-first">
                        <label for="expiry">Expiry</label>
                        <input id="expiry" name="expiry" 
                               value="{{ pm['expiry'] }}" />
                    </div>

                    <div class="float cvv not-first">
                        <label for="cvv">CVV</label>
                        <input id="cvv" name="cvv" />
                    </div>

                    <div class="clear"></div>

                    <div class="full">
                        <img src="/assets/{{ __version__ }}/cards.png" />
                        <button 
                        type="submit">{{ subscribe_text }}</button>
                    </div>

                    <p>You&rsquo;ll be charged <b>$2.99</b> on the
                    <b id="dayOfMonth"></b><span id="orLast">
                    </span>day of each month.</p>

                </form>
            </div>


            {% else %}

            <div id="panes">

                <ul id="pane-nav"></ul>
                <div class="clear"></div>

                <div class="pane" pane="cheat-sheet">
                    <h2>
                        <span>Cheat Sheet</span>
                        <div class="line"></div>
                    </h2>
                    <div id="cheat-sheet" class="cheat-sheet">

                        <span></span><u>j</u> / <u>k</u> to select
                        a transaction<br />

                        <span><u>s</u> +&nbsp;</span><u>j</u> / <u>k</u>
                        to categorize<br />

                        <br />

                        <span></span><u>f</u> / <u>d</u> to view a
                        category<br />

                        <span><u>shift</u> +&nbsp;</span><u>n</u> to
                        make a new category<br />

                        <span><u>shift</u> +&nbsp;</span><u>3</u> to
                        delete a category<br />

                        <br />

                        <span></span><u>esc</u> to close/open this screen 
                    
                    </div>
                </div>

                <div class="pane" pane="upload-data">
                    <h2>
                        <span>Upload Data</span>
                        <div class="line"></div>
                    </h2>
                    <div>

                        <p>You get data into IHasAMoney by
                        uploading a CSV. You have to download
                        transactions from your bank&rsquo;s
                        website, convert them to a CSV in the right
                        format, and upload it here or POST it to
                        /transactions/.</p>

                        <p>The id field can be blank, but if you
                        include it then next time you upload
                        we&rsquo;ll use that field to do an UPDATE
                        instead of an INSERT.</p>

                        <p>Here&rsquo;s <a href="/mogrify.py">an
                            example conversion script</a>.</p>

                        <form action="/transactions/" id="upload" 
                            method="POST"
                            enctype="multipart/form-data">

                            <label for="csv">
                            format:&nbsp; CSV<br />
                            columns: id,YYYYMMDD,0.00,description<br />
                            headers: no 
                            </label>
                            <input type="file" id="csv" name="csv" />

                            <div class="full">
                                <button type="submit">Upload</button>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>

                <div class="pane" pane="payment-details">
                    <h2>
                        <span>Payment Details</span>
                        <div class="line"></div>
                    </h2>
                    <div>
                        <form action="/pmt/pause.html" 
                            method="POST">
                            
                            <p>You are charged <b>$2.99</b> on the
                            <b id="dayOfMonth"></b><span
                                id="orLast"> </span>day of each
                            month.</p>

                            <div class="full">
                                <button type="submit">Pause
                                    Billing</button>
                            </div>
                            <div class="clear"></div>

                        </form>
                    </div>
                </div>

                <div class="pane" pane="about">
                    <h2>
                        <span>About / Contact</span>
                        <div class="line"></div>
                    </h2>
                    <div>

                        <p>IHasAMoney.com is a personal finance
                        application for geeks. You get data into it
                        by uploading a CSV in a certain format. You
                        get value out of it by categorizing your
                        transactions.</p>

                        <p>IHasAMoney.com is run by Chad Whitacre.
                        Please tell me what you want:</p>
                        
                        <ul>
                            <li>412-925-4220</li>
                            <li><a
                                href="mailto:chad@zetaweb.com">chad@zetaweb.com</a></li>
                            <li><a
                                href="https://twitter.com/#!/whit537">@whit537</a></li>
                            <li><a
                                href="https://ihasamoney.zendesk.com/">ZenDesk</a></li>
                        </ul>


                    </div>
                </div>

                <div class="pane" pane="api">
                    <h2>
                        <span>API</span>
                        <div class="line"></div>
                    </h2>
                    <div>
                        <p>POST CSV (formatted per <i>Upload Data</i>) to <a
                            href="/transactions/">/transactions/</a>.</p>
                    </div>
                </div>

            </div>
            {% end %}
        {% end %}
        </div>
    </div>
</div>
<div class="mask" id="modal-mask"></div>
